In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd
from path import Path

In [7]:
file_path= Path("data/zillow_data/Sale_Prices_City.csv")

df= pd.read_csv(file_path)

df

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,NaN,NaN,NaN,NaN,NaN,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,507600.0,489600.0,463000.0,453100.0,438100.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,138400.0,135500.0,132200.0,131000.0,133400.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,130900.0,131300.0,131200.0,131500.0,131600.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,NaN,NaN,NaN,NaN,NaN,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,3724,397820,Long Beach Township,New Jersey,3725,NaN,NaN,NaN,NaN,NaN,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,3725,37346,Beech Mountain,North Carolina,3726,NaN,NaN,NaN,NaN,NaN,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,3726,34991,Corolla,North Carolina,3727,NaN,NaN,NaN,NaN,NaN,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,3727,52829,La Vernia,Texas,3728,NaN,NaN,NaN,NaN,NaN,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0